/convolution_numpy_20200213/
/.mypy_cache/
/.ipynb_checkpoints/
/data/
/data_fashionMNIST/
/figures/
/~./
/20200120_Data_manipulation.ipynb
/20200124_HW1_due_20200206.ipynb
/20200129_HW1.ipynb
/20200131_HW1_EX3.ipynb
/20200204_HW1_submission.ipynb
/20200205_scientific_mode_test.py
/HW2_20200214_01.py
/HW2_20200215_01.ipynb
/notebook1_MNIST_version1.ipynb
/notebook2_convolution.ipynb
/Bens_code/
/Notebooks/
